* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(235, 114, 1, 0.897);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 3em;
}

body {
    background-color: rgb(255, 179, 92);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30em;
}

aside {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

.botones {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.50em;
    margin: 0.25em;
    font-style: oblique;
    background-color: blueviolet;
}

input:hover {
    font-size: 1.50em;
    margin: 0.25em;
    font-style: oblique;
    background-color: hotpink;
}